<!DOCTYPE html>

<html>
<head>

	<title>Price Genie_Feedback Page </title>

	<meta name="viewreport" content="width=device-width, intial-scale=1">

    {% assets "feedback_style" %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/feedback_style.css') }}">
    {% endassets %}

</head>



<body>

  <div class="topnav">
  <a href="index">Home</a>
  <a href="about">About</a>
  <a class="active" href="feedback">Feedback</a>
  <a href="contact">Contact</a>
</div>


  <img src="static/images/feedback_banner.jpg">


<div class="text">
  <h2> Do you have something to tell us? </h2>
  <h4> Please send us the direct message through the right box --> </h4>
</div>


<div class="text2">
  <h2> Please fill out the form below. </h2>



  <form action = "/action_page.php">
    Name: <br>
    <input type = "text" style="height: 30px; width: 480px; font-size: 18px;" />
    <br><br><br>

    E-mail: <br>
    <input type = "text" style="height: 30px; width: 480px; font-size: 18px;" />
    <br><br><br><br>

    Message: <br>
    <textarea style="height: 300px; width: 480px; font-size: 18px;" >  </textarea>
    <br><br><br>

    <form method="post" action="mailto:pricegenie499@gmail.com">
    <input type="submit" value="Submit" />
    </form>


  </form>



</body>

</html>