requests==2.22.0
Flask==1.1.1
Flask-Assets==0.12
numpy==1.17.3
pandas==0.25.2
scikit-learn==0.21.3
Keras==2.2.4
matplotlib==3.1.1
beautifulsoup4==4.8.1
lxml==4.4.1
tensorflow==2.7.2
Flask-Cors==3.0.8
Flask-Mail==0.9.1


mysql-connector-python==8.0.18




