#products {
  /* table */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 410%;
  margin-top: -450px;
  margin-left: 20px;
}

#products td,
#products th {
  border: 4px solid #ddd;
  padding: 15px;
}

#products th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: dodgerblue;
  color: white;
}

/*
#products th:hover {
  background-color: #ddd;
}

#productstr:nth-child {
  background-color: grey;
}

#products tr:hover {
  background-color: #ddd;
}
*/
