<!DOCTYPE html>

<html>
<head>

	<title>Price Genie_About Page </title>

	<meta name="viewreport" content="width=device-width, intial-scale=1">
    {% assets "about_style" %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about_style.css') }}">
    {% endassets %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

	<div class="topnav">
  <a href="index">Home</a>
  <a class="active" href="about">About</a>
  <a href="feedback">Feedback</a>
  <a href="contact">Contact</a>
</div>



<div class="text">
    <h2> Who We Are? </h2>
    <h3> We are developers, problem-solvers, and challengers!</h3>

    <img src="static/images/group-pic.png" alt="group-picture" width="480px" height="400px" align="left">
</div>



    <img src="static/images/about-banner2.png" alt="about" width="650px" height="400px" align="right" style="margin-top: -30px">






</body>

</html>
