<!DOCTYPE html>

<html>
<head>

	<title>Price Genie_About Page </title>

	<meta name="viewreport" content="width=device-width, intial-scale=1">
    {% assets "about_style" %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about_style.css') }}">
    {% endassets %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

	<div class="topnav">
  <a href="index">Home</a>
  <a class="active" href="about">About</a>
  <a href="feedback">Feedback</a>
  <a href="contact">Contact</a>
</div>



<div class="margin" style="margin-left:75px;">
    <h2> Who We Are? </h2>
    <h3> We are developers, problem-solvers, and challengers!</h3>

</div>

    <img src="static/images/group-pic.png" alt="group-picture" width="480px" height="400px" style="margin-left: 75px;">



<div class="margin" style="margin-right: 100px;">
    <img src="static/images/about-banner2.png" alt="about" width="620px" height="400px" align="right" style="margin-top: -410px;">
</div>





    <div class="card" style="margin-left:75px; margin-top: 50px;">
  <img src="static/images/ali.jpg" alt="Ali" style="width:67%">
  <h3> Ali Almashhadani </h3>
    <p class="title"> <h4> Back end Developer & Database, AI </h4> </p>
  <p>Hunter College</p>
  <div style="margin: 24px 0;">

    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>




    <div class="card" style="margin-left:535px; margin-top:-435px;" >
  <img src="static/images/steven.jpg" alt="Steven Santana" style="width:73%">
  <h3>Steven Santana</h3>
    <p class="title"> <h4> Back end Developer & Database </h4> </p>
  <p>Hunter College</p>
  <div style="margin: 24px 0;">

    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>











<div class="card" style="margin-left:1000px; margin-top:-550px;" >
  <img src="static/images/sally.jpg" alt="Sally" style="width:70%">
  <h3>Sally Xuan</h3>
    <p class="title"> <h4> Front end Developer & QA Engineer </h4> </p>
  <p>Hunter College</p>
  <div style="margin: 24px 0;">

    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>












</body>

</html>
